@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Agregué box-sizing para que funcione correctamente */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #102D40;
    color: #D7D9D0;
}

header {
    background-color: #192F3C;
    color: #D7D9D0;
    padding: 10px 0;
    margin: 20%; /* Revisar este valor, puede que no sea necesario */
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.destacado-titulo { /* Corregí el nombre de la clase a minúsculas */
    color: #22d4fd;
}

h1 {
    margin: 0;
    font-family: "Krona One", sans-serif;
}

#profile-picture {
    position: absolute;
    top: 10px;
    right: 10px;
}

#profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #254559;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #51A3DA;
    font-family: "Krona One", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

p {
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
}

ul.contact-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    flex-direction: column;
    align-items: center;
}

ul.contact-links li {
    margin: 10px 0;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #22d4fd;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.contact-links li:hover {
    background-color: #272727;
}

ul.contact-links a {
    color: #D7D9D0;
    text-decoration: none;
    font-weight: bold;
}

ul.contact-links a:hover {
    text-decoration: underline;
}

.footer {
    padding: 14px;
    background-color: #192F3C;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
}