body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #102D40;
    color: #D7D9D0;
}

header {
    background-color: #192F3C;
    color: #D7D9D0;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

strong.Destacado-titulo {
    color: #22d4fd;
}

h1 {
    margin: 0;
}

#profile-picture {
    position: absolute;
    top: 10px;
    right: 10px;
}

#profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #254559;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #51A3DA;
}

p {
    line-height: 1.6;
}

ul.contact-links {
    list-style-type: none;
    padding: 0;
}

ul.contact-links li {
    margin: 10px 0;
}

ul.contact-links a {
    color: #5A7356;
    text-decoration: none;
    font-weight: bold;
}

ul.contact-links a:hover {
    text-decoration: underline;
}
