@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #192F3C;
    --color-secundario: #102D40;
    --color-terciario: #254559;

    --color-links: #51A3DA;

    --color-fuente-Montserrat: #5A7356;
    --color-fuente-Krona-One: #D7D9D0;

    --fuente-Montserrat: "Montserrat", sans-serif;
    --fuente-Krona-One: "Krona One", sans-serif;

    --font-size-parrafos: 1rem;
    --font-size-titulos: 1.5rem;
    --font-size-links: 0.8rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Agregué box-sizing para que funcione correctamente */
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-secundario);
    color: var(--color-fuente-Krona-One);
}

header{
    padding: 2% 0 0 15%;
}

.header-menu{
    display: flex;
    gap: 1%;
}

.header-menu-link{
    font-family: var(--fuente-Montserrat);
    font-size: var(--font-size-titulos);
    font-weight: 600;
    background-color: var(--color-secundario);
    color: var(--color-links);
    text-decoration: none;
}

.name-content {
    background-color: var(--color-primario);
    color: var(--color-terciario);
    padding: 1% 0;
    margin: 20%; /* Revisar este valor, puede que no sea necesario */
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 1%;
}

.destacado-titulo { /* Corregí el nombre de la clase a minúsculas */
    color: var(--color-links);
}

h1 {
    margin: 0;
    font-family: "Krona One", sans-serif;
}

#profile-picture {
    position: absolute;
    top: 10px;/*ubicamos la imagen*/
    right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#profile-picture img {
    width: 150px;/*ajustamos el tamaño de la imagen*/
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10% rgba(0, 0, 0, 0.1);
    margin-left: auto;

}

section {
    margin: 2%;
    padding: 2%;
    background-color: var(--color-terciario);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

h2 {
    color: var(--color-links);
    font-family: "Krona One", sans-serif;
    font-size: var(--font-size-parrafos);
    font-weight: 400;
}

p {
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
}

ul.contact-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5%;
    flex-direction: column;
    align-items: center;
}

ul.contact-links li {
    margin: 1% 0;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    border: 2px solid var(--color-links);
    font-family: "Montserrat", sans-serif;
    font-size: var(--font-size-links);
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.contact-links li:hover {
    background-color: var(--color-primario);
}

ul.contact-links a {
    color: var(--color-fuente-Krona-One);
    text-decoration: none;
    font-weight: bold;
}

ul.contact-links a:hover {
    text-decoration: underline;
}

.footer {
    padding: 1.4%;
    background-color: var(--color-secundario);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: var(--font-size-parrafos);
    font-weight: 400;
}

@media (max-width: 1200px){
    .presentation{
        flex-direction: column;
    }
}